<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>FlexoSoul</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="css/bin/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/bin/bootstrap/bootstrap-social.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
 
	<script type="text/javascript" src="js/bin/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="js/bin/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bin/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/bin/angular/angularUI.min.js"></script>
	<script type="text/javascript" src="js/controllers/FlexoSoulCtrl.js"></script>

</head>

<body ng-app="FlexoSoulApp" ng-controller="FlexoSoulCtrl">
	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> 
			<a class="navbar-brand" href="#">FlexoSoul</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li ng-repeat="link in navLink">
					<a href="{{link.reference}}">{{link.name}}</a>
				</li>
			</ul>
		</div>
	</nav>

	<header>
		<carousel interval="interval">
			<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{ slide.image }}" style="margin:auto;">
				<div class="carousel-caption">
					<h4>{{ slide.title }}</h4>
					<p>{{ slide.text }}</p>
				</div>
			</slide>
		</carousel>
	</header>

	<section class="container section-margin-top">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-12 column text-center ">
						<h1 class="text-default" style="">
							Produtos
						</h1>
						<h4>
							Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
						</h4>
						<p>
							Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. 
						</p>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-4 column">
						<h3 class="text-center">
							Titulo 1
							<p>
								<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle">
							</p>
						</h3>
						<p>
							Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
						</p>
					</div>
					<div class="col-md-4 column">
						<h3 class="text-center">
							Titulo 2
							<p>
								<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle">
							</p>					
						</h3>
						<p>
							Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
						</p>
					</div>
					<div class="col-md-4 column">
						<h3 class="text-center">
							Titulo 3
							<p>
								<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle">
							</p>					
						</h3>
						<p>
							Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<!--<div class="container">-->
			<p>
				Example courtesy 
				<a href="http://martinbean.co.uk">Martin Bean</a> 
				and 
				<a href="http://ryanfait.com/sticky-footer/">
					Ryan Fait
				</a>.
			</p>
			<a class="btn btn-social-icon btn-twitter">
				<i class="fa fa-twitter"></i>
			</a>
		<!--</div>-->
    </footer>
</body>
</html>
